<app-heading bgImage="/assets/img/dia-muertos.webp" [isBgFixed]="false" class="flex justify-center items-center">
  <h1 class="heading-title">¡Viaja con nosotros!</h1>
</app-heading>
<div class="my-8 mx-10 md:mx-16 lg:mx-20">
  <p class="text-2xl font-light text-black md:text-3xl lg:text-4xl">
    Un
    <span class="font-black">servicio</span>
    a tu
    <span class="font-black">medida</span>
  </p>
  <p class="mt-4 text-gray-500 font-light tracking-wide">
    Contamos con el mejor servicio de transportaciónturística para todo tipo de necesidades<br>
    Todo con la <span class="font-bold">mejor calidad</span> y el <span class="font-bold">mejor precio</span> posibles
  </p>
</div>
<div class="grid grid-cols-1 p-0 m-0 md:grid-cols-2 lg:grid-cols-3 bg-white mt-2">
	<!--Mission-->
	<div class="p-12 bg-gray-100">
		<p class="text-2xl font-semibold uppercase text-green-500 text-center">Misión</p>
		<p class="mt-5 font-light text-center text-gray-500 tracking-wide">
			Proporcionar a nuestros clientes las <span class="font-bold">mejores
            experiencias turísticas</span> y la oportunidad de realizar ese
			<span class="font-bold">viaje</span> que han
			<span class="font-bold">anhelado por años</span>.
		</p>
	</div>
	<div class="bg-cover bg-center"
	     style="background-image: url('https://images.pexels.com/photos/5862697/pexels-photo-5862697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
	</div>

	<div class="p-12 bg-gray-100">
		<p class="text-2xl font-semibold uppercase text-green-500 text-center">Visión</p>
		<p class="mt-5 font-light text-center text-gray-500 tracking-wide">
			Convertirnos en una de las empresas de <span class="font-bold">transportación
            turistica</span> más solicitada en <span class="font-bold">México</span>,
			conocida por su <span class="font-bold">calidad</span> y las
			<span class="font-bold">aventuras memorables</span> que
			proporcionan a sus clientes.
		</p>
	</div>
</div>
<div class="grid grid-cols-1 p-0 m-0 md:grid-cols-2 lg:grid-cols-3 bg-white">
	<!--Who we are?-->
	<div class="h-full bg-cover bg-center"
	     style="background-image: url('https://images.pexels.com/photos/3722817/pexels-photo-3722817.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
	</div>
	<div class="p-16 bg-gray-50">
		<p class="text-2xl font-semibold uppercase text-green-500 text-center">Nuestro ADN</p>
		<p class="mt-5 text-center  font-light text-gray-500 tracking-wide">
			Somos una empresa mexicana 100% familiar dedicada a realizar todo
			tipo de <span class="font-bold">transportación turística</span> a
			nivel <span class="font-bold">nacional</span>, con la
			<span class="font-bold">calidad</span> y
			<span class="font-bold">garantía</span> que usted y sus familiares
			merecen.</p>
	</div>
	<div class="bg-cover bg-center block"
	     style="background-image: url('https://images.pexels.com/photos/784707/pexels-photo-784707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
	</div>

	<!--Mission-->
	<div class="p-16">
		<p class="text-2xl font-semibold uppercase text-green-500 text-left">Tus opinión es importante</p>
		<p class="mt-5 font-light text-left text-gray-500 tracking-wide">
			Tus valoraciones ayudarán a nuestro <span class="font-semibold">crecimiento</span> y tus recomendaciones
			nos motivarán a ser cada día más <span class="font-semibold">profesionales</span> con cada uno de
			nuestros clientes.
		</p>
	</div>
	<div class="bg-cover bg-center"
	     style="background-image: url('https://images.pexels.com/photos/5862697/pexels-photo-5862697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
	</div>

	<div class="p-16">
		<p class="text-2xl font-semibold uppercase text-green-500 text-left">Nuestra meta es ayudarte</p>
		<p class="mt-5 font-light text-left text-gray-500 tracking-wide">
			Cuéntanos qué tipo de experiencia quieres vivir y será un placer
			brindarte apoyo profesional para encontrar el tour que necesitas.
		</p>
	</div>
</div>

<div class="my-8 mx-10 md:mx-16 lg:mx-20">
  <p class="font-black uppercase text-2xl md:text-3xl lg:text-4xl">Contáctanos</p>
  <p class="font-medium my-3 text-xl md:text-2xl lg:text-3xl">Será un placer atenderte</p>
  <div class="mt-5">
    <div class="mt-4 flex flex-col gap-2">
      <div class="flex gap-2 text-gray-500">
        <span class="material-icons material-icons-outlined w-6">phone</span>
        <span>+52 5578 7878 78</span>
      </div>
      <div class="flex gap-2 text-gray-500">
        <span class="material-icons material-icons-outlined w-6">email</span>
        <span>contacto@elmariachiviajero.com.mx</span>
      </div>
    </div>
  </div>
</div>
