<app-heading bgImage="/assets/img/dia-muertos.webp">
  <p class="heading-title text-4xl font-bold uppercase text-white ml-5 extravagant-text">Promociones</p>
  <p class="heading-subtitle font-normal text-lg md:text-xl lg:text-xl">Viaja a súper buen precio</p>
</app-heading>
<div class="w-5/6 mx-auto card-grid mt-10 mb-20">
  <div *ngFor="let promo of promotions">
    <app-promotion-card [promo]="promo"></app-promotion-card>
  </div>
  <p class="text-center col-span-full" *ngIf="promotions.length === 0">
    <span>😯 No tenemos promociones por el momento, lo cual es raro...</span><br>
    <span>Pero puedes revisar los <a class="link" routerLink="/paquetes">paquetes</a></span>
  </p>
</div>
