<app-nav class="absolute pointer-events-none block w-full min-h-full" type="contact-bar"></app-nav>

<!-- Carousel -->
<div class="w-full h-screen bg-aztec bg-green-100 relative">
	<swiper class="w-full h-full" [pagination]="true" [navigation]="true" #carousel>
		<!-- Welcome slide -->
		<ng-template swiperSlide>
      <div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
			   style="background-image: url('/assets/img/bellas-artes-noche.webp')">
				<div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
          <div class="flex flex-col gap-y-1 items-center">
<!--            <img class="w-24 lg:w-32" src="/assets/img/icon.svg" alt="EMV">-->
            <p class="text-4xl lg:text-6xl title-font">
              El <span class="font-bold">Mariachi Viajero</span>
            </p>
          </div>
          <p class="md:text-lg lg:text-xl">
            Calidad, amor y diversión en todos sus viajes
          </p>
          <button class="btn-slide-center slide-btn">Tours</button>
				</div>
				<!-- overlay to darken the image -->
				<div class="z-10 bg-black bg-opacity-70 absolute w-full h-full pointer-events-none"></div>
      </div>
		</ng-template>
		<ng-template swiperSlide>
      <div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
           style="background-image: url('/assets/img/pueblo.webp')">
        <div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
<!--          <p class="text-4xl lg:text-6xl title-font font-bold">-->
<!--            Promociones-->
<!--          </p>-->
          <button class="btn-slide-center slide-btn">Promociones</button>
          <p class="md:text-lg lg:text-xl">
            Viajes de calidad que cuidan tu economía
          </p>
        </div>
        <!-- overlay to darken the image -->
        <div class="z-10 bg-black bg-opacity-70 absolute w-full h-full pointer-events-none"></div>
      </div>
		</ng-template>
		<ng-template swiperSlide>
      <div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
           style="background-image: url('/assets/img/trajineras.webp')">
        <div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
          <!--          <p class="text-4xl lg:text-6xl title-font font-bold">-->
          <!--            Promociones-->
          <!--          </p>-->
          <button class="btn-slide-center slide-btn">Categorias</button>
          <p class="md:text-lg lg:text-xl">
            Tenemos viajes para todas las ocasiones
          </p>
        </div>
        <!-- overlay to darken the image -->
        <div class="z-10 bg-black bg-opacity-70 absolute w-full h-full pointer-events-none"></div>
      </div>
		</ng-template>
		<ng-template swiperSlide>
      <div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
           style="background-image: url('/assets/img/cdmx.webp')">
        <div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
          <!--          <p class="text-4xl lg:text-6xl title-font font-bold">-->
          <!--            Promociones-->
          <!--          </p>-->
          <button class="btn-slide-center slide-btn">Ubicaciones</button>
          <p class="md:text-lg lg:text-xl">
            Ofrecemos servicios en toda la república mexicana
          </p>
        </div>
        <!-- overlay to darken the image -->
        <div class="z-10 bg-black bg-opacity-70 absolute w-full h-full pointer-events-none"></div>
      </div>
		</ng-template>
	</swiper>
	<!--	<div class="absolute bottom-6 w-full flex justify-center z-20">-->
	<!--		<span class="material-icons material-icons-outlined max-w-sm w-8 margin-auto animate-bounce">expand_more</span>-->
	<!--	</div>-->
</div>

<div class="w-11/12 md:w-5/6 mx-auto pt-8 pb-16 flex flex-col gap-y-16">
  <div class="border-l-4 border-black pl-4 text-left">
    <p class="mb-2 text-2xl md:text-3xl lg:text-4xl">
      Tu <span class="font-semibold">recreación</span> es nuestra obligación
    </p>
    <p class="text-gray-700">
      Si no te la pasas excelentemente bien, te regresamos tu dinero
    </p>
  </div>

  <!-- Promociones -->
  <div class="flex flex-col gap-y-8">
    <div class="text-center">
      <p class="font-semibold text-2xl md:text-3xl lg:text-4xl">
        Promociones
      </p>
      <p class="font-semibold text-green-600 text-md lg:text-2xl mt-2">
        Viaja a buen precio
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let promo of promotions.slice(0, 3)">
        <app-promotion-card [promotion]="promo"></app-promotion-card>
      </div>
    </div>
    <a routerLink="/promociones" class="btn-slide-left btn-alt mx-auto">
      Más promociones
    </a>
  </div>

  <!-- Paquetes -->
  <div class="flex flex-col gap-y-8">
    <div class="text-center">
      <p class="font-semibold text-2xl md:text-3xl lg:text-4xl">
        Paquetes
      </p>
      <p class="font-semibold text-green-600 text-md lg:text-2xl mt-2">
        Conoce varios lugares en un solo viaje
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let pack of packs.slice(0, 3)">
        <app-pack-card [pack]="pack"></app-pack-card>
      </div>
    </div>
    <a routerLink="/paquetes" class="btn-slide-left btn-alt mx-auto">
      Más paquetes
    </a>
  </div>

  <!-- Tours por categoría -->
  <div class="flex flex-col gap-y-8">
    <div class="text-center">
      <p class="font-semibold text-2xl md:text-3xl lg:text-4xl">
        Categorías
      </p>
      <p class="font-semibold text-green-600 text-md lg:text-2xl mt-2">
        Tenemos tours para todas las ocasiones
      </p>
    </div>
    <app-tour-categories class="w-full"></app-tour-categories>
  </div>

  <!-- Tours por ubicación -->
  <div class="flex flex-col gap-y-8">
    <div class="text-center">
      <p class="font-semibold text-2xl md:text-3xl lg:text-4xl">
        Ubicaciones
      </p>
      <p class="font-semibold text-green-600 text-md lg:text-2xl mt-2">
        Tenemos tours en todo México
      </p>
    </div>
    <app-states class="w-full"></app-states>
  </div>
</div>
